.Calculator {
  @extend .p-2;
  @extend .my-2;
  border: 3px solid fade-out($brand-warning, 0.5);
  position: relative;
  min-height: 200px;

  &-container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    left: 50%;
  }

  &-form {
    @include make-row();
  }
}