.Dashboard {
  text-align: center;

  &-logo {
    animation: Dashboard-logo-spin infinite 20s linear;
    height: 80px;
    @include make-col(12);
  }

  &-header {
    @include make-row();
    flex: 0 0 100%;
    background-color: $brand-primary;
    height: 150px;
    padding: 20px;
    color: $white;
  }

  &-title {
    font-size: 1.5em;
    @include make-col(12);
  }

  &-row {
    @include make-row();
    @extend .container;
    @extend .pt-4;
    margin: 0 auto;

    @include media('<xl') {
      padding: 0;
    }
  }

  &-liveGraph {
    @include make-col(7);
    @extend .mb-4;
    @extend .mr-auto;
    @include media('<xl') {
      @include make-col(12);
    }
  }

  &-calculator {
    @include make-col(4);
    @extend .mb-4;
    @include media('<xl') {
      @include make-col(12);
    }
  }

  &-cryptoTable {
    @include make-col(6);
    @extend .px-1;

    @include media('<md') {
      @include make-col(12);
    }
  }

  &-pricesContainer {
    @extend .container;
    @include make-row();
    margin: 0 auto;
    @extend .p-4;
    line-height: 1.5;
    border: 3px solid fade-out($brand-info, .5);
  }
}

@keyframes Dashboard-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
