@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/flatly/variables';
@import 'bootswatch/flatly/bootswatch';
@import 'include-media/dist/include-media';
@import 'react-vis/dist/main';

$breakpoints: $grid-breakpoints;

@import 'Dashboard';
@import 'LiveGraph';
@import 'PriceTitles';
@import 'Calculator';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
